@media only screen and (max-width: 600px) {
	header {
        padding: 0 20px;
    }

	.hamburger {
        display: block;
    }

    header nav {
        display: none;
    }
	
    header #nav_check:checked ~ nav {
        left: 0;
    }

	#main-banner h1 {
		font-size: 2.3rem;
	}

	#about {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.about-img {
		height: 300px;
	}

	#products {
		padding-top: 80px;
		padding-bottom: 80px;
		background-position-x: left;
		background-position-y: 50px;
	}

	.product-img-block {
		height: 180px;
	}

	#numbers {
		padding-top: 80px;
		padding-bottom: 180px;
	}

	.how-banner {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	#magic-elements {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	#global-presence {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	#team {
		padding-top: 80px;
		padding-bottom: 80px;

	}

	.team-block h4 {
		font-size: 1.1rem;
	}
	.team-block h6 {
		font-size: 0.9rem;
	}

	#contact {
		padding-top: 80px;
		padding-bottom: 80px;

	}

}